.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery li {
  flex-basis: calc(33.333% - 24px);
  box-sizing: border-box;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
